@font-face {
    font-family: siteFont;
    src: url(Inconsolata/static/Inconsolata-SemiBold.ttf);
}
body{
    background-color: #f1e9d4;
    font-family: siteFont;
}
h1{
    margin: 20px;
    color: #1C3B29;
}
h2{
    font-size: 25px;
    padding-bottom: 0px;
}
h3{
    font-size: 20px;
    padding-top: 0px;
}
aside {
    width:25%;
    float:left;
}
#course {
	background: #6585a0;
	border-radius: 25px;
    padding: 15px;
    margin: 20px;
    color: #f1e9d4;
}
#experience {
	background: #8d7e58;
	border-radius: 25px;
    padding: 15px;
    margin: 20px;
    color: #f1e9d4;
}
