@font-face {
    font-family: siteFont;
    src: url(Space_Mono/SpaceMono-Regular.ttf);
}
body{
    background-color: #456180;
    font-family: siteFont;
}
h1{
    margin: 20px;
    color: #1C3B29;
}
h2{
    font-size: 25px;
    padding-bottom: 0px;
}
h3{
    font-size: 20px;
    padding-top: 0px;
}
aside {
    width:25%;
    float:left;
}
#course {
	background: #FFFBF1;
	border-radius: 25px;
    padding: 15px;
    margin: 20px;
    color: #1C3B29;
}
#experience {
	background: #FFFBF1;
	border-radius: 25px;
    padding: 15px;
    margin: 20px;
    color: #1C3B29;
}
#course {
	background: #FFFBF1;
	border-radius: 25px;
    padding: 15px;
    margin: 20px;
    color: #1C3B29;
}